@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;1,200&display=swap');
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: grey;
}

a{
    text-decoration: none;
    color: transparent;
    font-size: 30px;
    border: 3px solid #ff0;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 20px 40px;
    position: relative;
}
a:before{
    content: 'button';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #363636;
    height: 100%;
    width: 100%;
    color: #ff0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    
}
a:after{
    content: 'button';
    position: absolute;
    left: -100%;
    top: 0;
    background-color: #363636;
    height: 100%;
    width: 100%;
    color: #ff0;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

a:hover::before{
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}
a:hover::after{
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}
