@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;1,200&display=swap');
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.btn{
    background: none;
    color: tomato;
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    border: 2px solid tomato;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    color: tomato;
}
.btn:hover{
    color: white;
}
.btn:before{
    content: '';
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: tomato;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
    
}

.btn:hover::before{
    height: 190%;
}
