@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;1,200&display=swap');
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    border: 3px solid white;
    text-transform: uppercase;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
a:before{
    content: 'YEAH';
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F44336;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover::before{
    transform: translateY(0);
}
a:hover{
    color: white;
}